.header {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  background-color: #6200ea;
  padding: 30px;
  align-items: flex-start;
}

.buttons {
  width: 80px;
  height: 40px;
  background-color: #6200ea;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
}



.logout_container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.logout_container img {
  width: 20px;
  height: 20px;
}

.back_container {
  border: none;
}

.back_min_buttons {
  width: 80px;
  height: 40px;
  background-color: #6200ea;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}



.logout_min_buttons {
  width: 80px;
  height: 40px;
  background-color: #6200ea;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  display: none;
}

.back_min_container {
  display: none;
}

.backButton:hover,
.logoutButton:hover {
  background-color: #4500b5;
  /* Темный фиолетовый при наведении */
}

.hide {
  display: none;
}

@media (max-width: 992px) {

  .logout_container {
    display: none;
  }

  .back_container {
    display: none;
  }

  .logout_min_buttons {

    display: flex;
  }

  .back_min_container {
    display: flex;
  }

}

@media (max-width: 860px) {
  .header {

    height: 100%;

  }
}

@media (max-width: 760px) {
  .header {

    height: 100%;

  }
}

@media (max-width: 500px) {
  .header {

    height: 100%;

  }

  .logout_container {
    display: none;
    width: 0px;
    height: 0px;
  }

  .logout_min_buttons {

    display: flex;
    width: 0px;
    height: 0px;
  }

  .back_min_buttons {
    width: 0px;
    height: 0px;
  }
}